body{
  font-family: 'Press Start 2P', cursive;;
  margin: 0;
}

h1{
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 100;
  color: green;
  text-align: center;
  line-height: 4rem;
}

main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


.instructions__container{
  width: 20%;
  margin: 0 auto;
  text-align: center;

}

.instructions__text{
  
  font-size: 2rem;
  line-height: 3rem;
  margin-block-start: 0em;
  margin-block-end: 3em;

}

.instructions__image{
  width: 15rem;
}


.canvas__container{
  width: 1000px;
  text-align: center;
}

.canvas{
  display: inline-block;
}

.score__container{
  width: 20%;
  margin: 0 auto;
  text-align: center;
  align-self: flex-start;

}

.score__title{
  font-weight: 100;
  font-size: 3rem;
  margin-top: 6rem;
  margin-block-end: 0.5em;
}

.score__images__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.score__images__container img{
  width: 5rem;
  height: 6rem;

}

.footer__container{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(79, 107, 0);
  margin-top: 2rem;
  padding: 0 6rem;
}

.footer__personal{
  display: flex;
  gap: 3.125rem;
}

.footer__personal__name{
  border-right: solid white 1px;
  padding-right: 3.125rem;
}


.footer__media__list{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.125rem;
  list-style: none;
}

.footer__media__list img{
  width: 2.5rem;
  filter: invert(100%);
}



